<form class="form-horizontal">
    <div class="form-group">
        <label> Selective directive with groups</label>
        <div class="form-control">
            <neo-ds-select label="Hellos" data-ng-model="f.flag" select-Options="f.dataSources">
                Puts content here {{f.flag}}
            </neo-ds-select>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label> Toggle button</label>
            <div class="form-control">
                <div class="ng-scope" style="width: 30px;height: 20px;background: red;border-radius: 15px;float:left">
                    <button style="height: 20px;border-radius: 15px;background-color: grey;border: 1px transparent;width: 20px;outline: none;"
                            ng-class="{'margin-left-11': f.buttonSelected }" ng-click="f.toggleButton()"></button>
                </div>
                <div style="float:left; padding-left:20px">
                    toggle -- {{f.buttonSelected}}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="border: 1px solid red">
        <label for="inputEmail3" class="col-sm-2 control-label">Neo time picker</label>
        <div class="col-sm-10">
            <neo-time-picker ng-model="timepick"></neo-time-picker>

        </div>
    </div>

    <div class="form-group" style="border: 1px solid red">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="mc-list-panel">
        <div class="mc-list-panel-heading">
            <span class="ng-scope">Mimecast office tenant</span>
        </div>
        <div style="float:left;width:100px">
            <div>
                <img src="./assets/ews.png"/>
            </div>
        </div>
        <div style="float:left;width:100px">
            DL
            <div id="u6" class="text">
                <p><strong>DL Staff US</strong><span> | </span><span>450 mailboxes</span></p>
            </div>
            <div> Datasource name here</div>
        </div>
        <div style="float:left;width:100px">
            <p style="font-size:13px;"><span>Status: </span><span></span></p>
            <p style="font-size:13px;"><span>In Progress</span>
            </p>
        </div>
        <div style="float:left;width:100px">
            <button mc-spin="true" class="btn btn-pr ng-scope" translate="Start">Start</button>
        </div>
        <div style="float:left;width:100px">
            <i class="pull-right margin-top-2 ng-scope fa fa-lock"></i>
            <i class="pull-right margin-top-2 ng-scope fa fa-lock"></i>
            <i class="pull-right margin-top-2 ng-scope fa fa-lock"></i>
        </div>
    </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-6">
            <neo-time-picker ng-model="f.time"></neo-time-picker>
        </div>
    </div>
    <div class="task-container">
        <div class="task-container__icon">
            <div class="task-container__icon-image">nbsp;</div>
        </div>
        <div class="task-container__desc">
            desc fathering
        </div>
        <div class="task-container__status">
            status
        </div>
        <div class="task-container__details">
            details
        </div>
        <div class="task-container__link">
            link
        </div>
    </div>


</form>





