.tiger {
  font-size: 24px;
}
.mx-daterange-picker {
  border: 0px solid red;
  line-height: 1.4;
  width: 620px;
  padding: 1px;
}
.mx-daterange-picker div {
  float: left;
  border: 0px solid green;
}
.mx-daterange-picker__timeselect {
  width: 205px;
}
.mx-daterange-picker__timeselect--selectwarn {
  border: 1px solid red;
  border-radius: 0px;
}
.mx-daterange-picker__seperator {
  width: 12px;
  padding-left: 4px;
}
.mx-daterange-picker__fromlabel {
  width: 65px;
  padding: 0px 5px;
  text-align: right;
}
.mx-daterange-picker__tolabel {
  width: 30px;
  padding: 0px 5px;
  text-align: right;
}
.my-uib-timepicker .myhours input {
  width: 38px;
  color: red;
}
.task-container {
  min-width: 768px;
  max-width: 962px;
  border: 1px solid blue;
  height: 32px;
}
.task-container__icon {
  width: 10%;
  float: left;
}
.task-container__icon-image {
  background-color: red;
}
.task-container__desc {
  width: 30%;
  float: left;
}
.task-container__status {
  width: 20%;
  float: left;
}
.task-container__details {
  width: 20%;
  float: left;
}
.task-container__link {
  width: 20%;
  float: left;
}

.service {
  margin: 10px;
}
