<ng-form name="localform">
    <div class="mk-form">
        <label class="mk-label" >
            {{::$ctrl.label}}
        </label>

        <select class="mk-input" ng-model="$ctrl.ngModel" ng-required="{{::$ctrl.mkRequired}}">
            <option data-ng-repeat="option in $ctrl.options track by $index"
                    value="{{option.id}}"
                        > {{option.value}}
            </option>
        </select>

    </div>
    <div class="mk-error-messages">

        <div ng-messages="($ctrl.parentform.$submitted || localform.element.$touched )&& localform.element.$error">
            <div ng-message="pattern">Not the right pattern</div>
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="maxlength">Your field is too long</div>
        </div>
    </div>
</ng-form>
