<div class="mx-daterange-picker">
    <div class=mx-daterange-picker__fromlabel>
        From
    </div>
    <div class="mx-daterange-picker__timeselect">
        <uib-timepicker ng-model="mytime" ng-change="changed()"
                        hour-step="hstep" minute-step="mstep"
                        show-meridian="false"></uib-timepicker>

    </div>
    <div class="mx-daterange-picker__tolabel">
        To
    </div>
    <div class="mx-daterange-picker__timeselect">
        <uib-timepicker ng-model="mytime" ng-change="changed()"
                        hour-step="hstep" minute-step="mstep"
                        show-meridian="false"></uib-timepicker>

    </div>
</div>







<!--<div class="mx-daterange-picker">-->
    <!--<div>-->


        <!--<div class="mx-daterange-picker__fromlabel">-->
            <!--<label class="control-label">From</label>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__timeselect">-->
            <!--<select class=" form-control" ng-model="fromHour" ng-change="onTimeSelect()"-->
                    <!--ng-options="n for n in hourOptions">-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__seperator">-->
            <!--<label class=" control-label">:</label>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__timeselect">-->
            <!--<select class="mx-daterange-picker__timeselect&#45;&#45;selectwarn form-control" ng-model="fromMin" ng-change="onTimeSelect()"-->
                    <!--ng-options="n for n in minsOptions" >-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<div class="mx-daterange-picker__tolabel">-->
            <!--<label class="control-label">To</label>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__timeselect">-->
            <!--<select class=" form-control" ng-model="toHour" ng-change="onTimeSelect()"-->
                    <!--ng-options="n for n in hourOptions">-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__seperator">-->
            <!--<label class=" control-label">:</label>-->
        <!--</div>-->
        <!--<div class="mx-daterange-picker__timeselect">-->
            <!--<select class=" form-control" ng-model="toMin" ng-change="onTimeSelect()"-->
                    <!--ng-options="n for n in minsOptions">-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

