<ng-form name="localform">
    <div class="mk-form">
        <label class="mk-label">
            {{::$ctrl.mkLabel}} -- {{::$ctrl.mkRequired}}
        </label>
        <input class="mk-input" type="text" ng-model="$ctrl.ngModel"
               name="element"
               ng-minlength="{{::$ctrl.mkMinlength}}"
               ng-maxlength="{{::$ctrl.mkMaxlength}}"
               ng-required="{{::$ctrl.mkRequired}}"
               mk-validators="{{$ctrl.mkValidator}}"
               ng-blur="$ctrl.updateValue()"/>
    </div>
    <div class="mk-error-messages">
        <!--{{localform.element.$touched}}-->
        <!--&#45;&#45; {{$ctrl.parentform.$submitted}} &#45;&#45;-->
        <!--&#45;&#45;{{localform.element.$error}}&#45;&#45;-->
        <div ng-messages="($ctrl.parentform.$submitted || localform.element.$touched )&& localform.element.$error"
             style="color:maroon" role="alert">
            <div ng-if="$ctrl.mkCustomMessage" ng-messages-include="{{::$ctrl.mkCustomMessage}}"></div>
            <div ng-messages-include="default-comp-messages"></div>
        </div>
    </div>
</ng-form>
