Welcome to components page
<script type="text/ng-template" id="adcon-messages">
    <div ng-message="integer">Adcondefault Integer message</div>
    <div ng-message="required">Adcondefault You did not enter a field</div>
    <div ng-message="minlength">Adcondefault Your field is too short</div>
    <div ng-message="maxlength">Adcondefault Your field is too long</div>
</script>


<script type="text/ng-template" id="default-comp-messages">
    <div ng-message="pattern">default Not the right pattern</div>
    <div ng-message="integer">default Integer message</div>
    <div ng-message="required">default You did not enter a field</div>
    <div ng-message="minlength">default Your field is too short</div>
    <div ng-message="maxlength">default Your field is too long</div>
</script>

<div class="otherForm">
    <form name="manos">
        <!--<ng-form name="fieldWrapper1">-->
       --  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        Include sensitive messages
        </md-checkbox> -- {{data.cb1}}

            <mk-input ng-model="vm.eldedo1"
                     mk-label="First Name"
                     name="dedo1" call-parent="vm.parenter()"
                     mk-required="true"
                     mk-minlength="4"
                     mk-maxlength="7"
                     mk-validator="integer"
                     mk-pattern="4\d+"
                     mk-custom-message="adcon-messages"
            ></mk-input>

        <!--</ng-form>-->
        <mk-input ng-model="vm.eldedo2"
                 mk-label="Last Name"
                 name="dedo1"
                 mk-maxlength="3"

        ></mk-input>

        form valid -- {{manos.$valid}} <br>
        form submitted -- {{manos.$submitted}} <br>
        fieldWrapper1 --- {{manos.fieldWrapper1.$valid}} <br>
        field1 -- {{manos.dedo1.$valid}} <br>

        <input type="submit" value="Save"/>
    </form>
    <!--&#45;&#45;does not &#45;&#45; come out &#45;&#45;    {{vm.eldedo1}}-->

    <form name="lasmanos">
        <mk-select name="selec" label="Select the source" ng-model="vm.dstype"
                   options="vm.options"
                   default-text="Please select a datasource"
        ></mk-select>
        <mk-input name="finger1" ng-model="vm.finger1" mk-label="Mobile Number"
                  mk-required="false"
                  mk-min-length="3"
                  mk-pattern="4\d+"
                  external-message="adcon-messages"
        ></mk-input>

        <mk-input name="verma" ng-model="vm.finger2"
                  mk-required="true"
                  mk-max-length="7"
                  external-message="adcon-messages"
                  mk-label="Data Source Name"></mk-input>

        <ng-form name="subform">
            <mk-input name="finder3" ng-model="vm.finger3"
                      mk-required="true"
                      mk-max-length="3"
                      mk-label="Data Source type"></mk-input>
            - subform valid -- {{lasmanos.subform.$valid}} <br/>
            - subform touched -- {{lasmanos.subform.$touched}} -- getting this touciness outside is still a problem
            <br/>
        </ng-form>


        valid form -- {{lasmanos.$valid}} <br>
        verma touched -- {{lasmanos.verma.$touched}} <br>
        <!--valid form &#45;&#45; {{lasmanos}} <br>-->
        <!--finger1 form &#45;&#45; {{lasmanos.finger1}} <br>-->
    </form>
</div>


finger1 -- {{vm.finger1}} <br>
finger2 -- {{vm.finger2}} <br>


