Welcome to components page
<script type="text/ng-template" id="adcon-messages">
    <div ng-message="required">Adcon field is required</div>
    <div ng-message="minlength">Adcon field is too short</div>
</script>

<div class="otherForm">
    <form name="manos">
        <ng-form name="fieldWrapper1">

        <mk-comp ng-model="vm.eldedo1"
                 mk-label="First Name"
                 name="dedo1" call-parent="vm.parenter()"
                 mk-minlength="4"
                 mk-maxlength="7"
                 mk-validator="integer"
                 mk-pattern="4\d+"
        ></mk-comp>

        </ng-form>
        <mk-comp ng-model="vm.eldedo2"
                 mk-label="Last Name"
                 name="dedo1"
                 mk-max-length="3"

        ></mk-comp>

        form valid -- {{manos.$valid}} <br>
        form submitted -- {{manos.$submitted}} <br>
        fieldWrapper1 --- {{manos.fieldWrapper1.$valid}} <br>
        field1 -- {{manos.dedo1.$valid}} <br>

        <input type="submit" value="Save"/>
    </form>
    <!--&#45;&#45;does not &#45;&#45; come out &#45;&#45;    {{vm.eldedo1}}-->

    <form name="lasmanos">
        <mk-select name="selec" label="Select the source" ng-model="vm.dstype"
                   options="vm.options"
                   default-text="Please select a datasource"
        ></mk-select>
        <mk-input name="finger1" ng-model="vm.finger1" label="Mobile Number"
                  mk-required="false"
                  mk-min-length="3"
                  mk-pattern="4\d+"
                  external-message="adcon-messages"
        ></mk-input>

        <mk-input name="verma" ng-model="vm.finger2"
                  mk-required="true"
                  mk-max-length="7"
                  external-message="adcon-messages"
                  label="Data Source Name"></mk-input>

        <ng-form name="subform">
            <mk-input name="finder3" ng-model="vm.finger3"
                      mk-required="true"
                      mk-max-length="3"
                      label="Data Source type"></mk-input>
            - subform valid -- {{lasmanos.subform.$valid}} <br/>
            - subform touched -- {{lasmanos.subform.$touched}} -- getting this touciness outside is still a problem
            <br/>
        </ng-form>


        valid form -- {{lasmanos.$valid}} <br>
        verma touched -- {{lasmanos.verma.$touched}} <br>
        <!--valid form &#45;&#45; {{lasmanos}} <br>-->
        <!--finger1 form &#45;&#45; {{lasmanos.finger1}} <br>-->
    </form>
</div>


finger1 -- {{vm.finger1}} <br>
finger2 -- {{vm.finger2}} <br>


