.mk-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.mk-form input.ng-valid.ng-touched {
    /*background-color: #78FA89;*/
}

.mk-input {
    position: relative;
    width: 60%;
    margin: 0;
    padding: 16px;
    background: #eaf3f5;
    border: 0;
    color: #2e8e9f;
    font: 400 18px "VAGRoundedLight", sans-serif;
    letter-spacing: 2px;
    text-align: left;
}

.mk-label {
    padding: 32px 10px 16px 16px;
    width: 30%;
    color: #72808d;
    font: 400 16px "Helvetica Neue", sans-serif;
    text-align: right;
}

.mk-form {
    width: 100%;
}

.mk-error-messages {
    padding-left: 32%;
}

