 <div id="boots-logo-panel">Hello</div>
<div class="row">
   
    <div class="col-xs-12 col-sm-12 col-md-8 boxa">
        some more content
    </div>
   
    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 boxb">
                 <div class=" ">
                   <p id="book_consultation_header_text">
                      Understanding diabetes
                    </p>
                    <p id="book_consultation_content" style="padding:32px 0">
                      Want to understand your diabetes fast?
                    </p>
                    <p class="zero-bottom-margin">
                      <a  class="anchor-link" ui-sref="/readmore">Read More</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 boxc">
               <div class=" ">
                   <p id="book_consultation_header_text">
                      Understanding diabetes
                    </p>
                    <p id="book_consultation_content" style="padding:32px 0">
                      Want to understand your diabetes fast?
                    </p>
                    <p class="zero-bottom-margin">
                      <a  class="anchor-link" ui-sref="/readmore">Read More</a>
                    </p>
                </div>
            </div>
         </div>
    </div>
</div>