<form name="signup_form" novalidate ng-submit="signupForm()">
   <fieldset>
      <legend>Signup</legend>
      <div class="row">
         <div class="large-12 columns">
            <label>Your name  is</label>
            <input type="text"
               placeholder="Name"
               name="name"
               ng-model="signup.name"
               ng-minlength=3
               ng-maxlength=20 required />
            <div class="error" ng-messages="signup_form.name.$error"
               ng-if='signup_form.name.$dirty'>
               <div ng-message="required">
				   Make sure you enter your name
               </div>
               <div ng-message="minlength">
                  Your name must be at least 3 characters
               </div>
               <div ng-message="maxlength">
                  Your name cannot be longer than 20 characters
               </div>
            </div>
         </div>
      </div>
      <div class="row">
      <div class="large-12 columns">
      <label>About you </label>
      <textarea name="comment" placeholder="Tigers are my fav"></textarea>
      </div>
      <div class="row">
         <div class="large-12 columns">
            <label>Your email</label>
            <input type="email"
               placeholder="Email"
               name="email"
			   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/	"
               ng-model="signup.email"
               ng-minlength=3
               ng-maxlength=20
			   required />
            <div class="error" ng-messages="signup_form.email.$error"
               ng-if='signup_form.email.$dirty'>
               <div ng-message="required">
                  Your email is required.
               </div>
               <div ng-message="minlength">
                  Your email is required to be at least 3 characters
               </div>
               <div ng-message="maxlength">
                  Your email cannot be longer than 20 characters
               </div>
               <div ng-message="pattern">
                  That is not a valid email. Please input a valid email.
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <label>Username</label>
         <input  type="text"
            placeholder="The only valid option abbu"
            name="username"
            ng-model="signup.username"
            ng-minlength=3
            ng-maxlength=20
            ensure-unique="username" required />
         <div class="error" ng-messages="signup_form.username.$error"
            ng-if='signup_form.username.$dirty'>
            <div ng-message="required">
               Your username is required.
            </div>
            <div ng-message="minlength">
               Your username is required to be at least 3 characters
            </div>
            <div ng-message="maxlength">
               Your username cannot be longer than 20 characters
            </div>
            <div ng-message="unique">
               The only valid option is abbu for now
            </div>
         </div>
      </div>
      <button type="submit" ng-disabled="signup_form.$invalid" class="button radius">Submit</button>
   </fieldset>
</form>
